<div class="card shadow-sm" style="max-width: 18rem; margin-bottom: 20px">
  <img
    src="assets/images/directory img.png"
    alt="{{ directory.name }}"
    class="card-img-top"
    style="max-height: 150px; object-fit: contain; padding: 10px"
  />

  <div class="card-body">
    <a class="text-decoration-none" [routerLink]="['/dms', directory.id, directory.name]">
      <p class="text-uppercase mb-2 custom-text">
        {{ directory.name }}
      </p>
    </a>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-danger btn-sm">
          <i class="fa fa-trash"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm">
          <i class="fa fa-edit"></i>
        </button>
      </div>
    </div>
  </div>
</div>
